*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
.circle1{
    height: 20rem;
    position: absolute;
    width: 20rem;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(#f0ecff77, #f0ecff44);
}
.circle1{
    top: 3rem;
    right: 3rem;
}
header{
    padding: 2rem;
    text-align: center;
}
h1{
    font-size: 4rem;
}
span{
    font-size: 1.6rem;
}
label,p{
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    background: linear-gradient(to bottom, #203A43ff, #2C5364bb);
    height: auto;
    width: 100%;
    color: #FDFBFB;
}

.container{
    width: 65vw;
    background: linear-gradient(to right, #eae5fd99, #e6e2f566);
    padding: 2.5rem 3rem;
    border-radius: .5rem;
}
@media(max-width: 390px){
    .container{
        width: 100vw;
        padding: 1.5rem 1.8rem;
    }
    h1{
        font-size: 3rem;
    }
    span{
        font-size: 1.2rem;
    }
    label,p{
        font-size: 1.6rem;
    }
}

.fill{
    display: block;
    width: 100%;
    font-size: 1.8rem;
    border-radius: 3px;
    border: none;
    color: #2C5364;
    padding: .8rem;
}

.form-field{
    padding: 1rem;
    line-height: 1.8;
}

select option{
    font-size: inherit;
}
.form-options label{
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    margin: 1rem;
    font-weight: 300;
}

.input-radio,.input-checkbox{
    display: inline-block;
    min-height: 1.3rem;
    margin-right: 1rem;
    min-width: 1.3rem;
}
input[type=radio],input[type=checkbox]{
    border: none;
    width: 2rem;
    height: 2rem;
}
textarea,button{
    width: 100%;
    font-size: 2rem;
    font-family: inherit;
    color: #2C5364;
    padding: 1rem;
    border: none;
    border-radius: 3px;
}
button{
    background-color: #203A43;
    color: #FDFBFB;
    margin-top: 1.5rem;
}
textarea{
    height: 15rem;
    resize: vertical;
}